

.hero{
    width: 375px;
    height: 812px;
    background-color: #171751;
    margin: auto;

    &__logo{
        width: 100px;
        height: 100px;
        margin-left: 40%;
        margin-top: 20%;
        &--petit{
            width: 75px;
            height: 75px;
            margin-left: 75%;
            margin-top: 0%;
        }
    }


    &__forms{
        width: 200px;
        height: 50px;
        border: solid 1px black;
        margin-top: 15px;   
    }

    &__ht{
        width: 300px;
        margin: auto;
        height: 100px;
        margin-top: 50px;
        margin-left: 80px;
    }

    &__textht{
        text-align: left;
        font-style: bold;
        color: red;
    }

    &__ttc{
        width: 300px;
        margin: auto;
        height: 100px;
        margin-left: 80px;
    }

    &__textttc{
        text-align: left;
        font-style: bold;
        color: aqua;
        margin-top: 20px;
    }

    &__result{
        width: 300px;
        margin: auto;
        height: 100px;
        margin-left: 80px;
    }

    &__textresult{
        text-align: left;
        font-style: bold;
        color: white;
        margin-top: 20px;
    }

    &__tva{
        width: 100px;
        height: 100px;
        background-color: white;
        border-radius: 50%;
        margin-left: 130px;
        margin-top: 50px;
        border: 1px solid black;
    }
    &__tvatext{
        font-size: 28px;
        padding-top: 20px;
        text-align: center;
        text-decoration: none;
    }
}
